html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr {
    color: #c6aa76;
    border: none;
    height: 1.5px;
    background-color: #c6aa76;
}
.rs-container {
    width: 90vw;
    margin: 0 auto;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}

body {
    background-color: #E4CE9B;
    padding-top: 80px;
    background-image: radial-gradient(circle, rgba(255,255,255,0.03) 1px, transparent 1px), radial-gradient(circle, rgba(0,0,0,0.04) 1px, transparent 1px);
    background-size: 10px 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.topnav {
    font-family: "RuneScape Bold 12";
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #1a1a1a, #382d1d);
    padding: 30px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    height: 100px;
}


    .topnav .logo a {
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
    }

        .topnav .logo a:hover {
            color: yellow;
            transform: translateY(-15px);
            text-shadow: 0 2px 20px yellow;
        }


.search-bar-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-bar-wrapper {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 900px;
    border-radius: 30px 30px 30px 30px;
    transition: border-color 0.5s ease, box-shadow 0.5s ease;
}


.search-bar {
    flex-grow: 1;
    padding: 12px 20px;
    background: linear-gradient(90deg, #1a1a1a, #29231b);
    border: none;
    border-radius: 30px 0 0 30px;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
    outline: none;
    color:yellow;
}


.search-bar-wrapper:focus-within {
    background-color: #333;
    box-shadow: 0 0 10px yellow;
    border-radius: 30px 30px 30px 30px;
}



.search-btn {
    background-color: #1b1b1a;
    border: none;
    padding: 12px 20px;
    border-radius: 0 30px 30px 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .search-btn i {
        font-size: 18px;
    }

    
    .search-btn:hover {
        background-color: #382d1d;
        color: yellow;
    }

.topnav .nav-links {
    display: flex;
    gap: 10px; 
    margin-left: auto;
    justify-content: space-evenly;
    width: 25%; 
}

    .topnav .nav-links a {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    }

       
        .topnav .nav-links a:hover {
            color: yellow; 
            transform: translateY(-5px);
            text-shadow: 0 4px 15px yellow; 
        }


.dropdown {
    display: none;
    position: relative;
}

.dropdown-btn {
    background-color: #333;
    border: none;
    padding: 15px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px; 
    right: 0;
    background-color: #333;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

    .dropdown-content a {
        color: white;
        padding: 12px;
        text-decoration: none;
        display: block;
        text-align: left;
        transition: background-color 0.3s ease;
    }

        .dropdown-content a:hover {
            background-color: #00bcd4;
        }

.dropdown.show .dropdown-content {
    display: block;
}

@media (max-width: 1500px) {
  
    .topnav .nav-links {
        display: none;
    }

    .dropdown {
        display: block;
    }

   
    .search-bar-wrapper {
        width: 80%;
    }
}

/* Entire scrollbar styling for Chrome / Edge / Safari */
::-webkit-scrollbar {
    width: 14px; 
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #d1b27c; 
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #3d3223;
    border-radius: 12px;
    border: 3px solid #d1b27c; 
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    background: #d1b27c;
}

.event-card {
    flex-grow: 1;
    padding: 12px 20px;
    background: #3d3223;
    border: solid;
    border-color: #866d35;
    border-width: 2px;
    border-radius: 15px 15px 15px 15px;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease;
    outline: none;
    color: #c6aa76;
}

.event-card-title {
    color: #c6aa76;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.event-card:hover .event-card-title {
    color: yellow;
}

.event-card:hover {
    background-color: #3d3223;
    color: yellow;
    transform: translateX(15px);
    box-shadow: 4px 4px 20px 10px #dab972;
}


.green-circle {
    width: 7px; 
    height: 7px;
    background-color: #28a745;
    border-radius: 50%;
    display: inline-block;
}


.runescape-font {
    font-family: "RuneScape Bold 12";
}

.drag-item {
    flex: 0 0 auto;
}

.no-select {
    user-select: none; /* Standard */
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}

.texture-effect-cross {
    background-image: repeating-linear-gradient( 45deg, rgba(255,255,255,0.03), rgba(255,255,255,0.03) 1px, transparent 1px, transparent 4px ), repeating-linear-gradient( -45deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05) 1px, transparent 1px, transparent 5px );
    background-size: 40px 40px;
}

.texture-effect-grain {
    background-image: radial-gradient(circle, rgba(255,255,255,0.03) 1px, transparent 1px), radial-gradient(circle, rgba(0,0,0,0.04) 1px, transparent 1px);
    background-size: 10px 10px;
}

.event-team-box {
    background-color: rgba(108, 95, 71, 0.6); 
    border: 2px solid #a67c52;
    border-radius: 10px;
    padding: 10px 15px;
    min-width: 80px;
    font-size: 24px;
    color: yellow;
    outline: none;
    height: 5vh;
    min-height: 60px;
    margin-bottom: 1vh;
    width: 80%;
}

    .event-team-box:focus {
        border-color: #8b5e3c; 
        box-shadow: 0 0 5px rgba(139,94,60,0.5);
    }

.event-team-container {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    width: 50%; 
    margin: 10px 0 20px 0;
    height: 430px;
    align-items: center;
    overflow-y: auto;
}

.person-info-panel {
    flex: 1; 
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    height: 430px;
    margin: 10px 0 20px 0;
}

.event-team-wrapper {
    display: flex;
    gap: 20px;
}

.event-card-icon {
    gap: clamp(1rem, 1vw, 2rem);
}

.modal-content {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: #3d3223;
    border: 2px solid #d1b27c;
}

.modal-textbox {
    width: 100%; /* full width of modal */
    padding: 4px 6px; /* space inside input */
    border: 1px solid #c6aa76;
    border-radius: 4px;
    background-color: #3d3223;
    color: #c6aa76; /* white text */
    outline: none;
}

.team-column {
    flex: 0 0 49%; /* do NOT grow, do NOT shrink, 50% width */
    max-width: 49%;
    min-width: 0; /* allow content to wrap */
}


.modal-select {
    width: 100%;
    padding: 4px 4px;
    border: 1px solid #c6aa76;
    border-radius: 4px;
    background-color: #3d3223;
    color: #c6aa76;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    white-space: normal; 
    word-break: break-word;
    overflow-wrap: anywhere; 
}

.team-item-small {
    display: inline-flex;
    flex: 0 1 auto;
    padding: 0.3rem 0.5rem;
    border: 2px solid yellow;
    border-radius: 5px;
    color: yellow;
    background-color: rgba(255, 255, 0, 0.1);
    font-size: 10px;
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap;
}

.editteam-disabled-div {
    opacity: 0.5;
    pointer-events: none;
}

.toggle-switch {
    position: relative;
    width: 60px;
    height: 34px;
}

    .toggle-switch input {
        display: none; 
    }

    .toggle-switch label {
        position: absolute;
        cursor: pointer;
        background-color: #ccc;
        border-radius: 34px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.4s;
    }

        .toggle-switch label::before {
            content: "";
            position: absolute;
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            border-radius: 50%;
            transition: 0.4s;
        }

input:checked + label {
    background-color: #4CAF50;
}

    input:checked + label::before {
        transform: translateX(26px);
    }