<div class="event-team-wrapper">
    <div class="event-team-container">
        @foreach (var index in Enumerable.Range(0, 12))
        {
            <button class="event-team-box runescape-font-title-bold texture-effect-cross"
                    @onclick="() => ShowPersonInfo()">
                Team ABC
            </button>
        }

    </div>
    @if (selectedTeam.Players.Count() >= 0 && selectedTeamBool)
    {
        <div class="person-info-panel">

                <h3>@selectedTeam.Name</h3>
                @foreach (var p in selectedTeam.Players)
                {
                    <p><strong>Name:</strong> @p.Name</p>
                }
        </div>
    }
</div>

@code {
    private List<string> fieldValues = new List<string> { "", "", "" };

    private Team selectedTeam = new Team();

    private bool selectedTeamBool = false;

    public class Team
    {
        public int Id { get; set; }
        public string Name { get; set; } = "";
        public List<Player> Players { get; set; } = new();
    }

    public class Player
    {
        public string Name { get; set; } = "";
    }

    List<Team> Teams = new()
    {
        new Team { Name = "Team A", Players = new List<Player>{ new Player{ Name = "Nami" }, new Player{ Name = "Zoro" }}},
        new Team { Name = "Team B", Players = new List<Player>{ new Player{ Name = "Bonnie" }}},
        new Team { Name = "Team C", Players = new List<Player>{ new Player{ Name = "Law" }, new Player{ Name = "Luffy" }}},
        new Team { Name = "Team D", Players = new List<Player>{ new Player{ Name = "Coby" }}},
    };



    void ShowPersonInfo()
    {
        selectedTeam = Teams.FirstOrDefault();
        selectedTeamBool = true;
    }
}
