@inherits LayoutComponentBase

<div class="page no-select">
    <main >
        <div class="topnav">
            <div class="logo">
                <a href="#">M I R S</a>
            </div>

            <div class="search-bar-container">
                <div class="search-bar-wrapper">
                    <input type="text" class="search-bar" placeholder="Search..." />
                    <button class="search-btn">
                        <i class="fa fa-search"></i> 
                    </button>
                </div>
            </div>
            <MobileSearch />
            <div class="nav-links">
                <a href="/">Events</a>
                <a href="/about">About</a>
                <a href="/admin">Admin</a>
                <a href="/login">LogIn/Out</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>

    </main>
</div>

